{% extends 'base.html.twig' %}

{% block title %}Les Voyage de Martine{% endblock %}

{% block body %}
<section class="intro">
    <h2>Bienvenue sur Les Voyages de Martine,</h2>
    <p>Mon carnet de route à ciel ouvert ! Passionnée de découvertes, de cultures et de paysages qui coupent le souffle, je partage ici mes aventures aux quatre coins du monde. Que ce soit un lever de soleil sur une plage thaïlandaise, une randonnée dans les Alpes ou un café partagé dans une ruelle de Lisbonne, chaque voyage est une histoire à raconter. Ce blog est une invitation à l’évasion, aux rencontres, et à oser partir, même pour un week-end. Prêt(e) à embarquer avec moi ? On décolle !</p>
    <div class="line"></div>
</section>
<section class="filter">
    <select class="select">
        <option value="default">Filtrer par catégorie</option>
        {% for category in categories %}
        <option value="{{ category.id }}">{{category.name}}</option>
        {% endfor %}
    </select>
    <a href="{{ path('app_home')}}">Enlever les filtre</a>
</section>
<section class="postSection">
    {% for post in posts %}
    <div class="post">
        <img src="{{ post.img }}" alt="">
        <div>
            <h2>{{ post.title }}</h2>
            <p>Par {{post.user.name}}</p>
        </div>
        <div class="line"></div>
        <p class="articleText">{{post.text}}</p>
        <a href="{{ path('app_article', { id: post.id }) }}">Voir plus</a>

        
    </div>
    {% endfor %}


</section>

<script>
  document.querySelector('select').addEventListener('change', function () {
    if (this.value) {
      const url = new URL(window.location.href);
      url.searchParams.set('category', this.value);
      window.location.href = url.toString();
    }
  });
</script>
{% endblock %}
