{% extends 'base.html.twig' %}

{% block title %}Martine voyage{% endblock %}

{% block body %}
<section class="filter">
    <select class="select">
        <option value="default">Filtrer par catégorie</option>
        {% for category in categories %}
        <option value="{{ category.id }}">{{category.name}}</option>
        {% endfor %}
    </select>
    <a href="{{ path('app_home')}}">Enlever les filtre</a>
</section>
<section class="postSection">
    {% for post in posts %}
    <div class="post">
        <img src="{{ post.img }}" alt="">
        <div>
            <h2>{{ post.title }}</h2>
            <p>Par {{post.user.name}}</p>
        </div>
        <div class="line"></div>
        <p class="articleText">{{post.text}}</p>
        <a href="{{ path('app_article', { id: post.id }) }}">Voir plus</a>

        
    </div>
    {% endfor %}


</section>

<script>
  document.querySelector('select').addEventListener('change', function () {
    if (this.value) {
      const url = new URL(window.location.href);
      url.searchParams.set('category', this.value);
      window.location.href = url.toString();
    }
  });
</script>
{% endblock %}
