{% extends 'base.html.twig' %}

{% block title %}Martine au | {{post.title}}{% endblock %}

{% block body %}

<section style="background-image:url({{post.img}})" class="heroBanner">
    <div class="overlay">
        <h2>{{post.title}}</h2>
        <div class="line"> </div>
        <h3>{% for category in post.categories %} {{category.name}} {% endfor %}</h3>
    </div>
</section>
<section class="article">
    <h2>Par {{post.user.name}} <span>le {{ post.updatedAt|date('d/m/Y') }} :</span></h2>
    <p>{{post.text}}</p>
</section>
<section class="comments">
    <h2>Commentaires :</h2>
    {% for comment in post.comments %}
        {% if app.user and (app.user.id == comment.user.id or 'ROLE_ADMIN' in app.user.roles )%}
        <div class="comment">
            <div>{{comment.user.name}} le {{ comment.updatedAt|date('d/m/Y H:i') }} : 
                <span id="commentSpan{{comment.id}}">{{comment.text}}</span>
                <form action="{{ path('comment_update', {id: comment.id}) }}" method="post" id="commentForm{{comment.id}}" class="updateBtn">
                    {{ form_start(editForms[comment.id]) }}
                    {{ form_widget(editForms[comment.id].text) }}
                    {{ form_widget(editForms[comment.id]._token) }}
                    <button type="submit">Mettre à jour</button>
                    {{ form_end(editForms[comment.id]) }}
                </form>
            </div>
            <div class="actions">
                <button onclick="switchToUpdate({{comment.id}})">
                    <img src="{{ asset('picto/outil-crayon.png') }}" width="20px">
                </button>
                {{ form_start(deleteForms[comment.id], {'attr': {'onsubmit': 'return confirm("Are you sure?");'}}) }}
                    <button type="submit">
                        <img src="{{ asset('picto/poubelle-de-recyclage.png') }}" width="20px">
                    </button>
                {{ form_end(deleteForms[comment.id]) }}
            </div>
        </div>
        {% else %}   
        <div class="comment">{{comment.user.name}} le {{ comment.updatedAt|date('d/m/Y H:i') }} : {{comment.text}}</div>
        {% endif %}
    {% endfor %}
    {% if app.user %}
        {{ form_start(form, {'attr': {'class': 'addComment'}}) }}
            {{ form_label(form.text) }}
            {{ form_widget(form.text) }}
            {{ form_widget(form._token) }}
            <input type="submit" value="Envoyer">
        {{ form_end(form) }}
    {% else %}   
        <p>Veuillez vous connecter pour commenter ce post.</p>
    {% endif %}
</section>


<script>
function switchToUpdate(commentId, commentText) {
  const span = document.getElementById(`commentSpan${commentId}`);
  const form = document.getElementById(`commentForm${commentId}`);

  span.style.display = "none";
  form.style.display = "inline";
}
</script>
{% endblock %}